@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap";
* {
  outline: none;
  box-sizing: border-box;
}
:root {
  --theme-bg-color: rgba(16, 18, 27, 0.4);
  --border-color: rgba(113, 119, 144, 0.25);
  --theme-color: #f9fafb;
  --inactive-color: rgba(113, 119, 144, 0.78);
  --body-font: "Poppins", sans-serif;
  --hover-menu-bg: rgba(12, 15, 25, 0.3);
  --content-title-color: #999ba5;
  --content-bg: rgba(146, 151, 179, 0.13);
  --button-inactive: rgba(249, 250, 251, 0.55);
  --search-bg: #14162b;
  --overlay-bg: rgba(36, 39, 59, 0.3);
  --scrollbar-bg: rgba(1, 2, 3, 0.4);
}
.light-mode {
  --theme-bg-color: rgba(255, 255, 255, 0.31);
  --theme-color: #3c3a3a;
  --inactive-color: #333333;
  --button-inactive: #3c3a3a;
  --search-bg: rgba(255, 255, 255, 0.31);
  --dropdown-bg: #f7f7f7;
  --overlay-bg: rgba(255, 255, 255, 0.3);
  --hover-menu-bg: rgba(255, 255, 255, 0.35);
  --scrollbar-bg: rgba(255, 253, 253, 0.57);
  --content-title-color: --theme-color;
  .dark-light {
    svg {
      fill: transparent;
      stroke: var(--theme-color);
    }
  }
  .profile-img {
    border: 2px solid var(--theme-bg-color);
  }
  .content-section {
    ul {
      background-color: var(--theme-bg-color);
    }
  }
  .pop-up__title {
    border-color: var(--theme-color);
  }
  .dropdown.is-active {
    ul {
      background-color: rgba(255, 255, 255, 0.94);
    }
  }
}
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
body {
  font-family: var(--body-font);
  background-image: url(https://wallpapershome.com/images/wallpapers/macos-big-sur-1280x720-dark-wwdc-2020-22655.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  width: 100%;
  height: 100vh;
}
.video-bg {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
img {
  max-width: 100%;
}
.dark-light {
  position: fixed;
  bottom: 50px;
  right: 30px;
  background-color: var(--dropdown-bg);
  box-shadow: -1px 3px 8px -1px rgba(0, 0, 0, 0.2);
  padding: 8px;
  border-radius: 50%;
  z-index: 3;
  cursor: pointer;
  svg {
    width: 24px;
    flex-shrink: 0;
    fill: #ffce45;
    stroke: #ffce45;
    transition: 0.5s;
  }
}
body.light-mode {
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.72) 0%,
      rgba(255, 255, 255, 0.45) 100%
    );
    backdrop-filter: saturate(3);
  }
  .video-bg {
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100vh;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.72) 0%,
        rgba(255, 255, 255, 0.45) 100%
      );
      backdrop-filter: saturate(3);
    }
  }
}
.app {
  background-color: var(--theme-bg-color);
  max-width: 1250px;
  max-height: 860px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 100%;
  border-radius: 14px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  font-size: 15px;
  font-weight: 500;
}
.header {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 58px;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  padding: 0 30px;
  white-space: nowrap;
}
.header-menu {
  display: flex;
  align-items: center;
  a {
    padding: 20px 30px;
    text-decoration: none;
    color: var(--inactive-color);
    border-bottom: 2px solid transparent;
    transition: 0.3s;
    &:hover {
      color: var(--theme-color);
      border-bottom: 2px solid var(--theme-color);
    }
  }
  a.is-active {
    color: var(--theme-color);
    border-bottom: 2px solid var(--theme-color);
  }
}
.menu-circle {
  width: 15px;
  height: 15px;
  color: var(--theme-color);
  border-radius: 50%;
  margin-right: 100px;
  flex-shrink: 0;
  cursor: pointer;
}
.search-bar {
  height: 40px;
  display: flex;
  width: 100%;
  max-width: 400px;
  padding-left: 16px;
  border-radius: 4px;
  input {
    width: 100%;
    height: 100%;
    border: none;
    background-color: var(--search-bg);
    border-radius: 4px;
    font-family: var(--body-font);
    font-size: 15px;
    font-weight: 500;
    padding: 0 20px 0 40px;
    box-shadow: 0 0 0 2px rgba(134, 140, 160, 0.02);
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56.966 56.966' fill='%23717790c7'%3e%3cpath d='M55.146 51.887L41.588 37.786A22.926 22.926 0 0046.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 00.083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z'/%3e%3c/svg%3e");
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: 16px 48%;
    color: var(--theme-color);
    &::placeholder {
      font-family: var(--body-font);
      color: var(--inactive-color);
      font-size: 15px;
      font-weight: 500;
    }
  }
}
.header-profile {
  display: flex;
  align-items: center;
  padding: 0 16px 0 40px;
  margin-left: auto;
  flex-shrink: 0;
  svg {
    width: 22px;
    color: #f9fafb;
    flex-shrink: 0;
  }
}
.notification {
  position: relative;
  + {
    svg {
      margin-left: 22px;
    }
  }
}
.notification-number {
  position: absolute;
  background-color: #3a6df0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  right: -6px;
  top: -6px;
}
.profile-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--theme-color);
  margin-left: 22px;
}
.wide {
  .header-menu {
    display: none;
  }
  .header-profile {
    display: none;
  }
  .search-bar {
    max-width: 600px;
    margin: auto;
    transition: 0.4s;
    box-shadow: 0 0 0 1px var(--border-color);
    padding-left: 0;
  }
  .menu-circle {
    margin-right: 0;
  }
}
.wrapper {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}
.main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.content-wrapper {
  display: flex;
  flex-direction: column;
  color: var(--theme-color);
  padding: 20px 40px;
  height: 100%;
  overflow: auto;
  background-color: var(--theme-bg-color);
}
.overlay-app {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: all;
  background-color: rgba(36, 39, 59, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.overlay-app.is-active {
  visibility: visible;
  opacity: 1;
}
.content-button {
  background-color: #3a6df0;
  border: none;
  padding: 8px 26px;
  color: #fff;
  border-radius: 20px;
  margin-top: 16px;
  cursor: pointer;
  transition: 0.3s;
  white-space: nowrap;
  &:not(.open) {
    &:hover {
      background: #1e59f1;
    }
  }
}
.content-section {
  margin-top: 30px;
  height: 40%;
  display: flex;
  flex-direction: column;
  .close {
    margin-right: 0;
    width: 24px;
  }
}
.content-section-title {
  color: var(--content-title-color);
  margin-bottom: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-bg);
  border-radius: 10px;
}
textarea {
  width: 100%;
  height: 90%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}
.notification-layer {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  p {
    margin: 0;
    font-size: 14px;
  }
  span {
    font-weight: bold;
  }
}
.hidden {
  display: none;
}
.overlay-subscription {
  position: fixed;
  display: flex;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
.subscription {
  width: 40%;
  height: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 1%;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
}
.img-subscribe {
  width: 25%;
}

//Media
@media screen and (max-width: 480px) {
  body {
    padding: 0.8em;
  }
  .header {
    padding: 0 16px;
  }
}
@media screen and (max-width: 610px) {
  .header-menu {
    a {
      &:not(.main-header-link) {
        display: none;
      }
    }
  }
}
@media screen and (max-width: 945px) {
  .header-menu {
    display: none;
  }
  .notification {
    + {
      svg {
        display: none;
      }
    }
  }
}
@media screen and (max-width: 510px) {
  .search-bar {
    display: none;
  }
  .content-wrapper {
    padding: 20px;
  }
}
